body
{
  color: white;
  background-image: url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Purple-Checked-Background-Image.jpg');
  background-size: cover;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result-1 ,#result-2  
{
  color: black;
}
.emotionName
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 10px;
  width: 89%;
}
label{
  font-size: 14px;
  background-color: white;
  color: blueviolet;
  padding: 6px;
  border-radius: 10px;
}
button{
  width: 300px;
}
.btn-danger,.btn-warning{
  font-size: 25px;
  font-weight: bold;
}